@import '../../scss/index.scss';

.home-wrapper {
    background-image: url('../../../public/assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 100px 0 100px;
    height: calc(100vh - 30px);

    .hero {
        @include flex(center, center);
        margin-top: 200px;

        .introduce {
            width: 30%;
            margin-right: 200px;
            
            .title {
                font-family: $font-family-barlow;
                color: $text-color-2;
                font-size: $heading-5;
            }

            .heading {
                font-size: $heading-2;
            }

            & > p {
                font-family: $font-family-barlow;
                font-size: $text-size;
                width: 70%;
                color: $text-color-2;
            }
        }
    }
}