@import '../../scss/index.scss';

.header-wrapper {
    @include flex(space-between, center);
    height: 100px;
    font-family: $font-family-barlow;

    .header-right {
        background-color: rgba(255, 255, 255, 0.04);
        @include flex(flex-start, center);
        list-style: none;
        height: 100%;

        margin: 0;
        padding-right: 50px;
        backdrop-filter: blur(10px);
        position: relative;
        
        &-item {
            font-family: $font-family-barlow;
            position: relative;
            margin-left: 30px;
            font-size: $text-size;
            text-decoration: none;
            color: $text-color-1;

            & > span {
                font-weight: 900;
            }

            &:hover {
                cursor: pointer;
            }

            &:hover::before {
                content: '';
                position: absolute;
                top: 60px;
                left: 0;

                height: 4px;
                background-color: rgba($color: #ffffff, $alpha: 0.5);
                animation: width 0.2s linear forwards;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            width: 500px;
            height: 1px;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            left: -80%;
        }
    }
}


@keyframes width {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}