@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

$background-color: #0b0d17;
$text-color-1: #ffffff;
$text-color-2: #D0D6F9;
$font-family: 'Bellefair', serif;
$text-size: 16px;
$heading-1: 150px;
$heading-2: 100px;
$heading-3: 56px;
$heading-4: 32px;
$heading-5: 28px;